#randomGif {
    display: flex;
    justify-content: center;
}

/* #project-description {
    display: block;
    justify-content: center;
} */

#logo {
    height: 75px;
    
}

.result-box {
    border: 2px solid #868686;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 10px;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;

}

#urbanDictionaryResults {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
}

.urban-entry {
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #868686;
    border-radius: 4px;
}

#dictionaryResults ul {
    padding: 0px;
    margin: 0px;
}

.dictionary-entry {
    box-sizing: border-box;
    list-style-type: none;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #868686;
    border-radius: 4px;
}

#googleResults ul {
    padding: 0px;
    margin: 0px;
}

.google-entry {
    box-sizing: border-box;
    list-style-type: none;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #868686;
    border-radius: 4px;
}